<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=.\sqlexpress;Database=AJI_NK_TEMP_SP2;User Id=omron;Password=P@ssw0rd;" />
  </connectionStrings>
  <appSettings>
    <add key="delayLoop_ms" value="300000"/>
    <add key="delayWriteLoop_ms" value="60000"/>
    <add key="timeGap_ms" value="1000"/>
    <add key="plc1Ip" value="192.168.250.100" />
    <add key="plcTimeOut" value="5000" />
  </appSettings>
</configuration>